* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000814; /* Düz, koyu ve asil bir arka plan */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Cam Kart Tasarımı */
.glass-card {
    position: relative;
    width: 400px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    /* Saf Blur */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    overflow: hidden;
    text-align: center;
}

/* Fareyi Takip Eden Işık (Highlight) */
.highlight-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Başlangıçta ışık görünmez, JS ile konumu belirlenecek */
    background: radial-gradient(
        circle at var(--x, -100%) var(--y, -100%),
        rgba(255, 255, 255, 0.15) 0%,
        transparent 50%
    );
    pointer-events: none;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.content p {
    opacity: 0.7;
    margin-bottom: 25px;
}

.main-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background: white;
    font-weight: 600;
    cursor: pointer;
}
