* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ÜST BAR TASARIMI */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 5%;
    background: rgba(0, 8, 20, 0.7); /* Şeffaf koyu mavi */
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-logo {
    height: 60px;
    width: auto;
}

.brand-name {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    transition: 0.1s;
}

.nav-links a:hover,
.active {
    color: #f39c12;
}

.contact-btn {
    background: #ffdbac !important;
    color: #3f3f3f !important;
    padding: 8px 18px;
    border-radius: 50px;
    font-weight: 600;
}

/* ANA PANEL ALANI */
.wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 40px; /* Üstten header boşluğu verdik */
}

.glass-panel {
    position: relative;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding: 50px 40px;
    overflow: hidden;
    box-shadow: 0 20px 20px #3f3f3f;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Mouse Highlight */
.mouse-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at var(--x, -100%) var(--y, -90%),
        rgba(255, 255, 255, 0.03) 09%,
        transparent 20%
    );
    pointer-events: none;
    transition:
        opacity 0.6s ease-out,
        transform 0.5s ease-in;
    opacity: 0;
}

.glass-panel:hover .mouse-glow {
    opacity: 2;
    transition: opacity 0.1s ease-in;
}

.panel-header {
    text-align: center;
    margin-bottom: 40px;
}
.panel-header h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}
.panel-header p {
    opacity: 0.5;
    font-size: 0.95rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.product-card {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 20px;
    shape-image-threshold: 0.5;
    shape-outside: circle(50% at 50% 50%);
}

.action-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 40px;
    background: #ffdbac;
    color: black;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}
